                        
                        {% if infoMessage is defined %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{infoMessage}}
                            </div>                      
                        {% endif %}
                        
                        {% if errorMessage is defined %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{errorMessage}}
                            </div>
                        {% endif %}
