.clear {
	clear: both;
}
body {
	background-color: #ffffff;
	overflow: hidden;
}


.navbar-default .sidebar-collapse {
	padding-top: 10px;
}

.navbar-default .navbar-brand {
	font-weight: 600;
}

.sidebar-collapse .tab-content{
    overflow-y: auto;
}

.navbar-static-side ul li {
	border-color: #CCCCCC;
}

.timestamp_date {
	position: relative;
	height: 10px;
	text-align: center;
}

.timestamp_date p {
	position: absoute;
	display: inline;
	background: #FFFFFF;
	padding: 1px 3px;
}

.post {
	position: relative;
	padding-left: 65px;
	padding-bottom: 20px;
}

.post .timestamp {
	position: absolute;
	right: 10px;
	color: #BBBBBB;
}

.post_block .person_img {
	float: left;
	vertical-align: center;
	margin-right: 10px;
}

.person_info h5 {
	line-height: 55px;
}

.post_block {
	border-top: 1px solid #CCCCCC;
}

.post_content {
	padding-right: 50px;
}

#chat_block {
	padding: 5px;
	background-color: #EEEEEE;
}

#chat_block .panel{
	margin-bottom: 0px;
}


#chat_block .panel-heading {
	line-height: 27px;
}

#chat_block .panel-heading .btn {
	float: right;
}

#chat_block  textarea {
	width: 100%;
	border: none;
	min-height: 100px;
}

#chat_block  div.chatpanel {
	width: 100%;
	border: none;
	min-height: 100px;
}


#chat_block .panel-body {
	padding: 3px;
}

#chat_block .panel-heading ul {
	padding-left: 0px;
	margin-bottom: 0;
	height: 35px;
}

#chat_block .panel-heading ul li {
	display: inline-block;
	font-size: 20px;
	padding-right: 10px;
}

.nav .person_img {
	margin-right: 10px;
}

#page-wrapper {
	padding: 0;
}

.col-lg-3 .panel {
	margin-top: 20px;
}

#conversation_block{
    overflow-y: scroll;
}
