.clear {
	clear: both;
}
body {
	background-color: #ffffff;
	overflow-y: hidden;
	overflow-x: hidden;
}
.row #main-row{
    padding: 5px;
}

#submenu{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    height: 35px;
    padding-left: 14px
}

.submenubutton.first{
    border-left: 1px solid #e7e7e7;
}


.submenubutton{
    background-color: #f8f8f8;
    border: none;
    height: 35px;
    margin: 0px;
    border-radius: 0px;
    display: block;
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#main-view{
    position: relative;
}

#main-view #chat_block,#main-view #chat_block-comment{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 174px;
}

#chat_block .panel-heading,#chat_block-comment .panel-heading {
  padding: 5px 5px;
}

#main-view #conversation_block{
    padding: 10px;
}


.navbar-default .sidebar-collapse {
	padding-top: 10px;
}

.navbar-default .navbar-brand {
	font-weight: 600;
}

.sidebar-collapse .tab-content{
    overflow-y: auto;
}

.navbar-static-side ul li {
	border-color: #CCCCCC;
}

.timestamp_date {
	position: relative;
	height: 10px;
	text-align: center;
}

.timestamp_date p {
	position: absoute;
	display: inline;
	background: #FFFFFF;
	padding: 1px 3px;
}

.post {
	position: relative;
	padding-left: 65px;
	padding-bottom: 5px;
}

.post .timestamp {
	position: absolute;
	right: 10px;
	color: #BBBBBB;
}

.post_block .person_img {
	float: left;
	vertical-align: center;
	margin-right: 10px;
}

.person_info h5 {
	line-height: 35px;
}

.post_block {
	border-top: 1px solid #CCCCCC;
}

.post_content {
	padding-right: 50px;
}

.post_media {
	padding: 10px 0;
	border:1px solid #DDDDDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50%;
	background-color: #F5F5F5;
}

.post_fa {
	float: left;
	padding: 4px 10px;
}

audio {
	width: 70%;
}

.profile-panel{
    margin: 10px 25px 10px 10px;
}
#chat_block,#chat_block-comment {
	padding: 5px;
	background-color: #EEEEEE;
}

#chat_block .panel,#chat_block-comment .panel{
	margin-bottom: 0px;
}


#chat_block .panel-heading,#chat_block-comment .panel-heading{
	line-height: 27px;
}

#chat_block .panel-heading .btn,#chat_block-comment .panel-heading .btn{
	float: right;
}

#chat_block  textarea,#chat_block-comment textarea {
	width: 100%;
	border: none;
	min-height: 100px;
}

#chat_block  div.chatpanel,#chat_block-comment div.chatpanel{
	width: 100%;
	min-height: 100px;
}


#chat_block .panel-body,#chat_block-comment .panel-body{
	padding: 3px;
}

#chat_block .panel-heading ul,#chat_block-comment  .panel-heading ul{
	padding-left: 0px;
	margin-bottom: 0;
	height: 35px;
}

#chat_block .panel-heading ul li,#chat_block-comment .panel-heading ul li{
	display: inline-block;
	font-size: 20px;
	padding-right: 10px;
}

.nav .person_img {
	margin-right: 10px;
}

#page-wrapper {
	padding: 0;
}

#conversation_block{
    overflow-y: scroll;
}

#fileupload-box {
	border: 6px dashed #888;
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
	color: #777;
}

#fileuploading {
	text-align: center;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;	
}

#filetype-note {
	font-size: 12px;
	color: #f00;
	padding-top: 0px;
}

#sticker{
    overflow-x: auto;
}

#sticker-holder{
    padding: 0px;
}

li.sticker-view{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.col-lg-9{
    padding-right: 0px;
}
.col-lg-3{
    padding-left: 0px;
    padding-right: 0px;
}

.deleteIcon{
    width: 60px;
    text-align: right;
}

#media-view{
    overflow-y: auto;
    overflow-x: hidden;
}

#media-content-holder{
    margin: 10px;
}

#comments-content-holder{
    margin: 10px;
}

.post.comment .timestamp{
    top: 15px;
}

.post.comment {
    padding-left: 0px;
}

.timestamp .btn{
    padding-right: 0px;
}

