@import "plugins/calendar.scss";
@import "plugins/charts.scss";
@import "plugins/chosen.scss";
@import "plugins/ckeditor.scss";
@import "plugins/datatables.scss";
@import "plugins/datepicker.scss";
@import "plugins/elfinder.scss";
@import "plugins/filetree.scss";
@import "plugins/fileupload.scss";
@import "plugins/form-wizard.scss";
@import "plugins/gritter.scss";
@import "plugins/maps.scss";
@import "plugins/multiselect.scss";
@import "plugins/plupload.scss";
@import "plugins/resize.scss";
@import "plugins/scroll.scss";
@import "plugins/select2.scss";
@import "plugins/slider.scss";
@import "plugins/spinner.scss";
@import "plugins/tagsinput.scss";
@import "plugins/timepicker.scss";
@import "plugins/xeditable.scss";
