/*!
 *
 *  Project:  GLYPHICONS
 *  Author:   Jan Kovarik - www.glyphicons.com
 *  Twitter:  @jankovarik
 *
 */

// CHROME FONT FIX
html, html .halflings {
  -webkit-font-smoothing: antialiased !important;
}

// IMPORT FONTS
@font-face {
  font-family: 'Glyphicons';
  src: url('../font/glyphicons-regular.eot');
  src: url('../font/glyphicons-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/glyphicons-regular.woff') format('woff'),
  url('../font/glyphicons-regular.ttf') format('truetype'),
  url('../font/glyphicons-regular.svg#glyphicons_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glyphicon-"],
[class*=" glyphicon-"] {
  font-family: 'Glyphicons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

[class^="glyphicon-"]:before,
[class*=" glyphicon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a {
  [class^="glyphicon-"],
  [class*=" glyphicon-"] {
    display: inline-block;
  }
}

li, .nav li {
  [class^="glyphicon-"],
  [class*=" glyphicon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
  }
}


.glyphicon-glass:before{ content:"\e001"; }
.glyphicon-leaf:before{ content:"\e002"; }
.glyphicon-dog:before{ content:"\e003"; }
.glyphicon-user:before{ content:"\e004"; }
.glyphicon-girl:before{ content:"\e005"; }
.glyphicon-car:before{ content:"\e006"; }
.glyphicon-user_add:before{ content:"\e007"; }
.glyphicon-user_remove:before{ content:"\e008"; }
.glyphicon-film:before{ content:"\e009"; }
.glyphicon-magic:before{ content:"\e010"; }
.glyphicon-envelope:before{ content:"\2709"; }
.glyphicon-camera:before{ content:"\e012"; }
.glyphicon-heart:before{ content:"\e013"; }
.glyphicon-beach_umbrella:before{ content:"\e014"; }
.glyphicon-train:before{ content:"\e015"; }
.glyphicon-print:before{ content:"\e016"; }
.glyphicon-bin:before{ content:"\e017"; }
.glyphicon-music:before{ content:"\e018"; }
.glyphicon-note:before{ content:"\e019"; }
.glyphicon-heart_empty:before{ content:"\e020"; }
.glyphicon-home:before{ content:"\e021"; }
.glyphicon-snowflake:before{ content:"\2744"; }
.glyphicon-fire:before{ content:"\e023"; }
.glyphicon-magnet:before{ content:"\e024"; }
.glyphicon-parents:before{ content:"\e025"; }
.glyphicon-binoculars:before{ content:"\e026"; }
.glyphicon-road:before{ content:"\e027"; }
.glyphicon-search:before{ content:"\e028"; }
.glyphicon-cars:before{ content:"\e029"; }
.glyphicon-notes_2:before{ content:"\e030"; }
.glyphicon-pencil:before{ content:"\270F"; }
.glyphicon-bus:before{ content:"\e032"; }
.glyphicon-wifi_alt:before{ content:"\e033"; }
.glyphicon-luggage:before{ content:"\e034"; }
.glyphicon-old_man:before{ content:"\e035"; }
.glyphicon-woman:before{ content:"\e036"; }
.glyphicon-file:before{ content:"\e037"; }
.glyphicon-coins:before{ content:"\e038"; }
.glyphicon-airplane:before{ content:"\2708"; }
.glyphicon-notes:before{ content:"\e040"; }
.glyphicon-stats:before{ content:"\e041"; }
.glyphicon-charts:before{ content:"\e042"; }
.glyphicon-pie_chart:before{ content:"\e043"; }
.glyphicon-group:before{ content:"\e044"; }
.glyphicon-keys:before{ content:"\e045"; }
.glyphicon-calendar:before{ content:"\e046"; }
.glyphicon-router:before{ content:"\e047"; }
.glyphicon-camera_small:before{ content:"\e048"; }
.glyphicon-dislikes:before{ content:"\e049"; }
.glyphicon-star:before{ content:"\e050"; }
.glyphicon-link:before{ content:"\e051"; }
.glyphicon-eye_open:before{ content:"\e052"; }
.glyphicon-eye_close:before{ content:"\e053"; }
.glyphicon-alarm:before{ content:"\e054"; }
.glyphicon-clock:before{ content:"\e055"; }
.glyphicon-stopwatch:before{ content:"\e056"; }
.glyphicon-projector:before{ content:"\e057"; }
.glyphicon-history:before{ content:"\e058"; }
.glyphicon-truck:before{ content:"\e059"; }
.glyphicon-cargo:before{ content:"\e060"; }
.glyphicon-compass:before{ content:"\e061"; }
.glyphicon-keynote:before{ content:"\e062"; }
.glyphicon-paperclip:before{ content:"\e063"; }
.glyphicon-power:before{ content:"\e064"; }
.glyphicon-lightbulb:before{ content:"\e065"; }
.glyphicon-tag:before{ content:"\e066"; }
.glyphicon-tags:before{ content:"\e067"; }
.glyphicon-cleaning:before{ content:"\e068"; }
.glyphicon-ruller:before{ content:"\e069"; }
.glyphicon-gift:before{ content:"\e070"; }
.glyphicon-umbrella:before{ content:"\2602"; }
.glyphicon-book:before{ content:"\e072"; }
.glyphicon-bookmark:before{ content:"\e073"; }
.glyphicon-wifi:before{ content:"\e074"; }
.glyphicon-cup:before{ content:"\e075"; }
.glyphicon-stroller:before{ content:"\e076"; }
.glyphicon-headphones:before{ content:"\e077"; }
.glyphicon-headset:before{ content:"\e078"; }
.glyphicon-warning_sign:before{ content:"\e079"; }
.glyphicon-signal:before{ content:"\e080"; }
.glyphicon-retweet:before{ content:"\e081"; }
.glyphicon-refresh:before{ content:"\e082"; }
.glyphicon-roundabout:before{ content:"\e083"; }
.glyphicon-random:before{ content:"\e084"; }
.glyphicon-heat:before{ content:"\e085"; }
.glyphicon-repeat:before{ content:"\e086"; }
.glyphicon-display:before{ content:"\e087"; }
.glyphicon-log_book:before{ content:"\e088"; }
.glyphicon-adress_book:before{ content:"\e089"; }
.glyphicon-building:before{ content:"\e090"; }
.glyphicon-eyedropper:before{ content:"\e091"; }
.glyphicon-adjust:before{ content:"\e092"; }
.glyphicon-tint:before{ content:"\e093"; }
.glyphicon-crop:before{ content:"\e094"; }
.glyphicon-vector_path_square:before{ content:"\e095"; }
.glyphicon-vector_path_circle:before{ content:"\e096"; }
.glyphicon-vector_path_polygon:before{ content:"\e097"; }
.glyphicon-vector_path_line:before{ content:"\e098"; }
.glyphicon-vector_path_curve:before{ content:"\e099"; }
.glyphicon-vector_path_all:before{ content:"\e100"; }
.glyphicon-font:before{ content:"\e101"; }
.glyphicon-italic:before{ content:"\e102"; }
.glyphicon-bold:before{ content:"\e103"; }
.glyphicon-text_underline:before{ content:"\e104"; }
.glyphicon-text_strike:before{ content:"\e105"; }
.glyphicon-text_height:before{ content:"\e106"; }
.glyphicon-text_width:before{ content:"\e107"; }
.glyphicon-text_resize:before{ content:"\e108"; }
.glyphicon-left_indent:before{ content:"\e109"; }
.glyphicon-right_indent:before{ content:"\e110"; }
.glyphicon-align_left:before{ content:"\e111"; }
.glyphicon-align_center:before{ content:"\e112"; }
.glyphicon-align_right:before{ content:"\e113"; }
.glyphicon-justify:before{ content:"\e114"; }
.glyphicon-list:before{ content:"\e115"; }
.glyphicon-text_smaller:before{ content:"\e116"; }
.glyphicon-text_bigger:before{ content:"\e117"; }
.glyphicon-embed:before{ content:"\e118"; }
.glyphicon-embed_close:before{ content:"\e119"; }
.glyphicon-table:before{ content:"\e120"; }
.glyphicon-message_full:before{ content:"\e121"; }
.glyphicon-message_empty:before{ content:"\e122"; }
.glyphicon-message_in:before{ content:"\e123"; }
.glyphicon-message_out:before{ content:"\e124"; }
.glyphicon-message_plus:before{ content:"\e125"; }
.glyphicon-message_minus:before{ content:"\e126"; }
.glyphicon-message_ban:before{ content:"\e127"; }
.glyphicon-message_flag:before{ content:"\e128"; }
.glyphicon-message_lock:before{ content:"\e129"; }
.glyphicon-message_new:before{ content:"\e130"; }
.glyphicon-inbox:before{ content:"\e131"; }
.glyphicon-inbox_plus:before{ content:"\e132"; }
.glyphicon-inbox_minus:before{ content:"\e133"; }
.glyphicon-inbox_lock:before{ content:"\e134"; }
.glyphicon-inbox_in:before{ content:"\e135"; }
.glyphicon-inbox_out:before{ content:"\e136"; }
.glyphicon-cogwheel:before{ content:"\e137"; }
.glyphicon-cogwheels:before{ content:"\e138"; }
.glyphicon-picture:before{ content:"\e139"; }
.glyphicon-adjust_alt:before{ content:"\e140"; }
.glyphicon-database_lock:before{ content:"\e141"; }
.glyphicon-database_plus:before{ content:"\e142"; }
.glyphicon-database_minus:before{ content:"\e143"; }
.glyphicon-database_ban:before{ content:"\e144"; }
.glyphicon-folder_open:before{ content:"\e145"; }
.glyphicon-folder_plus:before{ content:"\e146"; }
.glyphicon-folder_minus:before{ content:"\e147"; }
.glyphicon-folder_lock:before{ content:"\e148"; }
.glyphicon-folder_flag:before{ content:"\e149"; }
.glyphicon-folder_new:before{ content:"\e150"; }
.glyphicon-edit:before{ content:"\e151"; }
.glyphicon-new_window:before{ content:"\e152"; }
.glyphicon-check:before{ content:"\e153"; }
.glyphicon-unchecked:before{ content:"\e154"; }
.glyphicon-more_windows:before{ content:"\e155"; }
.glyphicon-show_big_thumbnails:before{ content:"\e156"; }
.glyphicon-show_thumbnails:before{ content:"\e157"; }
.glyphicon-show_thumbnails_with_lines:before{ content:"\e158"; }
.glyphicon-show_lines:before{ content:"\e159"; }
.glyphicon-playlist:before{ content:"\e160"; }
.glyphicon-imac:before{ content:"\e161"; }
.glyphicon-macbook:before{ content:"\e162"; }
.glyphicon-ipad:before{ content:"\e163"; }
.glyphicon-iphone:before{ content:"\e164"; }
.glyphicon-iphone_transfer:before{ content:"\e165"; }
.glyphicon-iphone_exchange:before{ content:"\e166"; }
.glyphicon-ipod:before{ content:"\e167"; }
.glyphicon-ipod_shuffle:before{ content:"\e168"; }
.glyphicon-ear_plugs:before{ content:"\e169"; }
.glyphicon-phone:before{ content:"\e170"; }
.glyphicon-step_backward:before{ content:"\e171"; }
.glyphicon-fast_backward:before{ content:"\e172"; }
.glyphicon-rewind:before{ content:"\e173"; }
.glyphicon-play:before{ content:"\e174"; }
.glyphicon-pause:before{ content:"\e175"; }
.glyphicon-stop:before{ content:"\e176"; }
.glyphicon-forward:before{ content:"\e177"; }
.glyphicon-fast_forward:before{ content:"\e178"; }
.glyphicon-step_forward:before{ content:"\e179"; }
.glyphicon-eject:before{ content:"\e180"; }
.glyphicon-facetime_video:before{ content:"\e181"; }
.glyphicon-download_alt:before{ content:"\e182"; }
.glyphicon-mute:before{ content:"\e183"; }
.glyphicon-volume_down:before{ content:"\e184"; }
.glyphicon-volume_up:before{ content:"\e185"; }
.glyphicon-screenshot:before{ content:"\e186"; }
.glyphicon-move:before{ content:"\e187"; }
.glyphicon-more:before{ content:"\e188"; }
.glyphicon-brightness_reduce:before{ content:"\e189"; }
.glyphicon-brightness_increase:before{ content:"\e190"; }
.glyphicon-circle_plus:before{ content:"\e191"; }
.glyphicon-circle_minus:before{ content:"\e192"; }
.glyphicon-circle_remove:before{ content:"\e193"; }
.glyphicon-circle_ok:before{ content:"\e194"; }
.glyphicon-circle_question_mark:before{ content:"\e195"; }
.glyphicon-circle_info:before{ content:"\e196"; }
.glyphicon-circle_exclamation_mark:before{ content:"\e197"; }
.glyphicon-remove:before{ content:"\e198"; }
.glyphicon-ok:before{ content:"\e199"; }
.glyphicon-ban:before{ content:"\e200"; }
.glyphicon-download:before{ content:"\e201"; }
.glyphicon-upload:before{ content:"\e202"; }
.glyphicon-shopping_cart:before{ content:"\e203"; }
.glyphicon-lock:before{ content:"\e204"; }
.glyphicon-unlock:before{ content:"\e205"; }
.glyphicon-electricity:before{ content:"\e206"; }
.glyphicon-ok_2:before{ content:"\e207"; }
.glyphicon-remove_2:before{ content:"\e208"; }
.glyphicon-cart_out:before{ content:"\e209"; }
.glyphicon-cart_in:before{ content:"\e210"; }
.glyphicon-left_arrow:before{ content:"\e211"; }
.glyphicon-right_arrow:before{ content:"\e212"; }
.glyphicon-down_arrow:before{ content:"\e213"; }
.glyphicon-up_arrow:before{ content:"\e214"; }
.glyphicon-resize_small:before{ content:"\e215"; }
.glyphicon-resize_full:before{ content:"\e216"; }
.glyphicon-circle_arrow_left:before{ content:"\e217"; }
.glyphicon-circle_arrow_right:before{ content:"\e218"; }
.glyphicon-circle_arrow_top:before{ content:"\e219"; }
.glyphicon-circle_arrow_down:before{ content:"\e220"; }
.glyphicon-play_button:before{ content:"\e221"; }
.glyphicon-unshare:before{ content:"\e222"; }
.glyphicon-share:before{ content:"\e223"; }
.glyphicon-chevron-right:before{ content:"\e224"; }
.glyphicon-chevron-left:before{ content:"\e225"; }
.glyphicon-bluetooth:before{ content:"\e226"; }
.glyphicon-euro:before{ content:"\20AC"; }
.glyphicon-usd:before{ content:"\e228"; }
.glyphicon-gbp:before{ content:"\e229"; }
.glyphicon-retweet_2:before{ content:"\e230"; }
.glyphicon-moon:before{ content:"\e231"; }
.glyphicon-sun:before{ content:"\2609"; }
.glyphicon-cloud:before{ content:"\2601"; }
.glyphicon-direction:before{ content:"\e234"; }
.glyphicon-brush:before{ content:"\e235"; }
.glyphicon-pen:before{ content:"\e236"; }
.glyphicon-zoom_in:before{ content:"\e237"; }
.glyphicon-zoom_out:before{ content:"\e238"; }
.glyphicon-pin:before{ content:"\e239"; }
.glyphicon-albums:before{ content:"\e240"; }
.glyphicon-rotation_lock:before{ content:"\e241"; }
.glyphicon-flash:before{ content:"\e242"; }
.glyphicon-google_maps:before{ content:"\e243"; }
.glyphicon-anchor:before{ content:"\2693"; }
.glyphicon-conversation:before{ content:"\e245"; }
.glyphicon-chat:before{ content:"\e246"; }
.glyphicon-male:before{ content:"\e247"; }
.glyphicon-female:before{ content:"\e248"; }
.glyphicon-asterisk:before{ content:"\002A"; }
.glyphicon-divide:before{ content:"\00F7"; }
.glyphicon-snorkel_diving:before{ content:"\e251"; }
.glyphicon-scuba_diving:before{ content:"\e252"; }
.glyphicon-oxygen_bottle:before{ content:"\e253"; }
.glyphicon-fins:before{ content:"\e254"; }
.glyphicon-fishes:before{ content:"\e255"; }
.glyphicon-boat:before{ content:"\e256"; }
.glyphicon-delete:before{ content:"\e257"; }
.glyphicon-sheriffs_star:before{ content:"\e258"; }
.glyphicon-qrcode:before{ content:"\e259"; }
.glyphicon-barcode:before{ content:"\e260"; }
.glyphicon-pool:before{ content:"\e261"; }
.glyphicon-buoy:before{ content:"\e262"; }
.glyphicon-spade:before{ content:"\e263"; }
.glyphicon-bank:before{ content:"\e264"; }
.glyphicon-vcard:before{ content:"\e265"; }
.glyphicon-electrical_plug:before{ content:"\e266"; }
.glyphicon-flag:before{ content:"\e267"; }
.glyphicon-credit_card:before{ content:"\e268"; }
.glyphicon-keyboard-wireless:before{ content:"\e269"; }
.glyphicon-keyboard-wired:before{ content:"\e270"; }
.glyphicon-shield:before{ content:"\e271"; }
.glyphicon-ring:before{ content:"\02DA"; }
.glyphicon-cake:before{ content:"\e273"; }
.glyphicon-drink:before{ content:"\e274"; }
.glyphicon-beer:before{ content:"\e275"; }
.glyphicon-fast_food:before{ content:"\e276"; }
.glyphicon-cutlery:before{ content:"\e277"; }
.glyphicon-pizza:before{ content:"\e278"; }
.glyphicon-birthday_cake:before{ content:"\e279"; }
.glyphicon-tablet:before{ content:"\e280"; }
.glyphicon-settings:before{ content:"\e281"; }
.glyphicon-bullets:before{ content:"\e282"; }
.glyphicon-cardio:before{ content:"\e283"; }
.glyphicon-t-shirt:before{ content:"\e284"; }
.glyphicon-pants:before{ content:"\e285"; }
.glyphicon-sweater:before{ content:"\e286"; }
.glyphicon-fabric:before{ content:"\e287"; }
.glyphicon-leather:before{ content:"\e288"; }
.glyphicon-scissors:before{ content:"\e289"; }
.glyphicon-bomb:before{ content:"\e290"; }
.glyphicon-skull:before{ content:"\e291"; }
.glyphicon-celebration:before{ content:"\e292"; }
.glyphicon-tea_kettle:before{ content:"\e293"; }
.glyphicon-french_press:before{ content:"\e294"; }
.glyphicon-coffe_cup:before{ content:"\e295"; }
.glyphicon-pot:before{ content:"\e296"; }
.glyphicon-grater:before{ content:"\e297"; }
.glyphicon-kettle:before{ content:"\e298"; }
.glyphicon-hospital:before{ content:"\e299"; }
.glyphicon-hospital_h:before{ content:"\e300"; }
.glyphicon-microphone:before{ content:"\e301"; }
.glyphicon-webcam:before{ content:"\e302"; }
.glyphicon-temple_christianity_church:before{ content:"\e303"; }
.glyphicon-temple_islam:before{ content:"\e304"; }
.glyphicon-temple_hindu:before{ content:"\e305"; }
.glyphicon-temple_buddhist:before{ content:"\e306"; }
.glyphicon-bicycle:before{ content:"\e307"; }
.glyphicon-life_preserver:before{ content:"\e308"; }
.glyphicon-share_alt:before{ content:"\e309"; }
.glyphicon-comments:before{ content:"\e310"; }
.glyphicon-flower:before{ content:"\2698"; }
.glyphicon-baseball:before{ content:"\e312"; }
.glyphicon-rugby:before{ content:"\e313"; }
.glyphicon-ax:before{ content:"\e314"; }
.glyphicon-table_tennis:before{ content:"\e315"; }
.glyphicon-bowling:before{ content:"\e316"; }
.glyphicon-tree_conifer:before{ content:"\e317"; }
.glyphicon-tree_deciduous:before{ content:"\e318"; }
.glyphicon-more_items:before{ content:"\e319"; }
.glyphicon-sort:before{ content:"\e320"; }
.glyphicon-filter:before{ content:"\e321"; }
.glyphicon-gamepad:before{ content:"\e322"; }
.glyphicon-playing_dices:before{ content:"\e323"; }
.glyphicon-calculator:before{ content:"\e324"; }
.glyphicon-tie:before{ content:"\e325"; }
.glyphicon-wallet:before{ content:"\e326"; }
.glyphicon-piano:before{ content:"\e327"; }
.glyphicon-sampler:before{ content:"\e328"; }
.glyphicon-podium:before{ content:"\e329"; }
.glyphicon-soccer_ball:before{ content:"\e330"; }
.glyphicon-blog:before{ content:"\e331"; }
.glyphicon-dashboard:before{ content:"\e332"; }
.glyphicon-certificate:before{ content:"\e333"; }
.glyphicon-bell:before{ content:"\e334"; }
.glyphicon-candle:before{ content:"\e335"; }
.glyphicon-pushpin:before{ content:"\e336"; }
.glyphicon-iphone_shake:before{ content:"\e337"; }
.glyphicon-pin_flag:before{ content:"\e338"; }
.glyphicon-turtle:before{ content:"\e339"; }
.glyphicon-rabbit:before{ content:"\e340"; }
.glyphicon-globe:before{ content:"\e341"; }
.glyphicon-briefcase:before{ content:"\e342"; }
.glyphicon-hdd:before{ content:"\e343"; }
.glyphicon-thumbs_up:before{ content:"\e344"; }
.glyphicon-thumbs_down:before{ content:"\e345"; }
.glyphicon-hand_right:before{ content:"\e346"; }
.glyphicon-hand_left:before{ content:"\e347"; }
.glyphicon-hand_up:before{ content:"\e348"; }
.glyphicon-hand_down:before{ content:"\e349"; }
.glyphicon-fullscreen:before{ content:"\e350"; }
.glyphicon-shopping_bag:before{ content:"\e351"; }
.glyphicon-book_open:before{ content:"\e352"; }
.glyphicon-nameplate:before{ content:"\e353"; }
.glyphicon-nameplate_alt:before{ content:"\e354"; }
.glyphicon-vases:before{ content:"\e355"; }
.glyphicon-bullhorn:before{ content:"\e356"; }
.glyphicon-dumbbell:before{ content:"\e357"; }
.glyphicon-suitcase:before{ content:"\e358"; }
.glyphicon-file_import:before{ content:"\e359"; }
.glyphicon-file_export:before{ content:"\e360"; }
.glyphicon-bug:before{ content:"\e361"; }
.glyphicon-crown:before{ content:"\e362"; }
.glyphicon-smoking:before{ content:"\e363"; }
.glyphicon-cloud-upload:before{ content:"\e364"; }
.glyphicon-cloud-download:before{ content:"\e365"; }
.glyphicon-restart:before{ content:"\e366"; }
.glyphicon-security_camera:before{ content:"\e367"; }
.glyphicon-expand:before{ content:"\e368"; }
.glyphicon-collapse:before{ content:"\e369"; }
.glyphicon-collapse_top:before{ content:"\e370"; }
.glyphicon-globe_af:before{ content:"\e371"; }
.glyphicon-global:before{ content:"\e372"; }
.glyphicon-spray:before{ content:"\e373"; }
.glyphicon-nails:before{ content:"\e374"; }
.glyphicon-claw_hammer:before{ content:"\e375"; }
.glyphicon-classic_hammer:before{ content:"\e376"; }
.glyphicon-hand_saw:before{ content:"\e377"; }
.glyphicon-riflescope:before{ content:"\e378"; }
.glyphicon-electrical_socket_eu:before{ content:"\e379"; }
.glyphicon-electrical_socket_us:before{ content:"\e380"; }
.glyphicon-pinterest:before{ content:"\e381"; }
.glyphicon-dropbox:before{ content:"\e382"; }
.glyphicon-google_plus:before{ content:"\e383"; }
.glyphicon-jolicloud:before{ content:"\e384"; }
.glyphicon-yahoo:before{ content:"\e385"; }
.glyphicon-blogger:before{ content:"\e386"; }
.glyphicon-picasa:before{ content:"\e387"; }
.glyphicon-amazon:before{ content:"\e388"; }
.glyphicon-tumblr:before{ content:"\e389"; }
.glyphicon-wordpress:before{ content:"\e390"; }
.glyphicon-instapaper:before{ content:"\e391"; }
.glyphicon-evernote:before{ content:"\e392"; }
.glyphicon-xing:before{ content:"\e393"; }
.glyphicon-zootool:before{ content:"\e394"; }
.glyphicon-dribbble:before{ content:"\e395"; }
.glyphicon-deviantart:before{ content:"\e396"; }
.glyphicon-read_it_later:before{ content:"\e397"; }
.glyphicon-linked_in:before{ content:"\e398"; }
.glyphicon-forrst:before{ content:"\e399"; }
.glyphicon-pinboard:before{ content:"\e400"; }
.glyphicon-behance:before{ content:"\e401"; }
.glyphicon-github:before{ content:"\e402"; }
.glyphicon-youtube:before{ content:"\e403"; }
.glyphicon-skitch:before{ content:"\e404"; }
.glyphicon-foursquare:before{ content:"\e405"; }
.glyphicon-quora:before{ content:"\e406"; }
.glyphicon-badoo:before{ content:"\e407"; }
.glyphicon-spotify:before{ content:"\e408"; }
.glyphicon-stumbleupon:before{ content:"\e409"; }
.glyphicon-readability:before{ content:"\e410"; }
.glyphicon-facebook:before{ content:"\e411"; }
.glyphicon-twitter:before{ content:"\e412"; }
.glyphicon-instagram:before{ content:"\e413"; }
.glyphicon-posterous_spaces:before{ content:"\e414"; }
.glyphicon-vimeo:before{ content:"\e415"; }
.glyphicon-flickr:before{ content:"\e416"; }
.glyphicon-last_fm:before{ content:"\e417"; }
.glyphicon-rss:before{ content:"\e418"; }
.glyphicon-skype:before{ content:"\e419"; }
.glyphicon-e-mail:before{ content:"\e420"; }
