body.error{
	background: $blue;

	.wrapper{
		width:300px;
		height:230px;
		position: absolute;
		top:50%;
		left:50%;
		margin:-165px -150px;

		.code{
			color:#fff;
			font-size:90px;
			text-align:center;

			span{
				margin-right:15px;
			}
		}

		.desc{
			color:#fff;
			font-size:14px;
			margin:20px 0;
		}

		.input-append{
			width:300px;
			background: #fff;
			padding:2px;

			input{
				border:0;
				width:260px;
				background:#fff;
			}

			.btn{
				border:0;
				background:$blue;
				color:#fff;

				&:hover{
					background: darken($blue, 15%);
				}
			}
		}
	}
}