.login{
	background: $blue;
	
	.wrapper{
		width:400px;
		height:500px;
		margin:-200px -200px;
		position: absolute;
		left:50%;
		top:50%;

		h1{
			&>a{
				color:#fff;
				display: block;
				font-weight:300;
				font-size:48px;
				text-align:center;
				padding:2px 0;
				text-decoration: none;

				img{
					margin-right:20px;
					margin-top:-8px;
				}
			}
		}

		.login-body{
			margin-top: 20px;
			background:#fff;

			form{
				padding:0 30px;
			}

			h2{
				font-weight:300;
				color:#333;
				font-size:24px;
				padding:20px 30px 5px 30px;
			}

			.email, .pw{
				input{
					padding:8px 12px;
					height:35px;
				}
			}

			.submit{
				margin-top: 15px;
				@include pie-clearfix;

				input{
					float:right;
				}

				.remember{
					float:left;
					margin-top: 5px;
					margin-left: 1px;

					[class*=icheckbox],label{
						float:left;
					}

					label{
						margin-left: 10px;
					}
				}
			}

			.forget{
				margin-top:50px;
				a{
					background: #eee;
					padding:10px 0;
					text-align:center;
					display: block;
					text-decoration: none;
					color:#555;

					&:hover{
						background: #ddd;
					}

					span{
						line-height:30px;
						margin-bottom: 10px;
						position: relative;
					}
				}
			}

		}
	}
}