.shop-items{
	@extend .ulreset;

	&>li{
		position: relative;

		&:hover{
			background: $blue;

			.extended{
				display: block;
				position: absolute;
				z-index:999;
				background: $blue;
				left:0;
				right:0;
			}

			&>a{
				.details{
					color:#fff;

					.name{
						color:#fff;
					}
				}
			}
		}
		&>a{
			text-decoration: none;

			img{
				max-width:100%;
			}

			.details{
				padding:10px;

				.name{
					display: block;
					font-size:16px;
					color:#333;
				}

				.price{
					text-align:right;
					font-size:18px;
				}

			}
		}

		.extended{
			padding:10px 10px 5px 10px;
			display: none;
			@include pie-clearfix;

			.pull-right{
				&>a{
					color:#fff;
					font-size:16px;
					padding:2px 5px;
					text-decoration:none;

				}
			}
		}
	}
}

.more-images{
	margin-top: 15px;
}

.product-details{
	.price{
		font-size:24px;
	}

	.price, div.colors, .sizes, .actions{
		margin-top: 30px;
	}

	div.colors{
		@include pie-clearfix;
	}

	.actions{
		text-align:right;

		.non{
			margin-right:15px;
		}
	}
}