.letterbox{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,0.8);

	.letter{
		@extend .ulreset;
		@include pie-clearfix;

		&>li{
			text-align:center;
			height:40px;
			width: 40px;
			margin:10px;
			background: #ddd;
			float:left;
			font-size:18px;
			line-height:40px;
			color:#aaa;

			&.active{
				background: $blue;
				color:#fff;
				cursor:pointer;
			}
		}
	}
}