.search-form{
	height:35px;
	margin: 0;

	&>.search-pane{
		margin:5px;
		height:28px;
		background:#fff;
		border:1px solid #ccc;

		&>input{
			background:none;
			@include border-radius(0);
			@include box-shadow(none);
			border:0;
			float:left;
			font-size:12px;
			margin-bottom:0;
			margin-top: 1px;
			width:145px;

			&:focus{
				@include box-shadow(none);
			}
		}

		button[type="submit"]{
			float:right;
			background:$blue;
			color:#fff;
			border:0;
			margin:2px 2px 0px 0;
			line-height:19px;
			min-height:24px;
		}
	}
}

.form-messages{
	margin-bottom: 0;
}

.form-vertical{
	.control-label{
		small{
			margin-left: 20px;
		}
	}

	&.form-bordered{
		.control-group{
			border-bottom:1px solid #ddd;
			padding:10px 20px;
		}
	}
}

.form-striped{
	.control-group:nth-child(odd){
		background: #f6f6f6;
	}

	.control-group{
		margin-bottom: 0;
	}
}

.form-horizontal{

	.help-block{
		.progress{
			margin-bottom: 0;
		}
	}

	&.form-striped{
		.control-group{
			padding:15px 20px;
			border-bottom:1px solid #ddd;
		}
	}

	&.form-column{
		@include pie-clearfix;
	
		.form-actions{
			border-top:1px solid #ddd;
			margin-top: 0;
		}

		[class*="span"] {
			margin: 0;
			border-left:1px solid #ddd;

			.control-group{
				.control-label{
					width:15%;
				}
			}

			&:first-child{
				border-left:0;
			}
		}
		.span12{
			width:100%;
			border-left:0 !important;
		}

		.span11{
			width:91.666%;
		}

		.span10{
			width:83.333%;
		}

		.span9{
			width:75%;
		}

		.span8{
			width:66.666%;
		}

		.span7{
			width:58.333%;
		}

		.span6{
			width:50%;
		}

		.span5{
			width:41.666%;
		}

		.span4{
			width:33.333%;
		}

		.span3{
			width:25%;
		}

		.span2{
			width:16.666%;
		}

		.span1{
			width:8.333%;
		}
	}
	.control-group{
		.control-label{
			&.right{
				text-align:right;
			}
			small{
				display: block;
				color:#999;
			}
		}
	}

	&.form-bordered{
		.control-group{
			margin: 0;
			padding: 0;
			border-bottom:1px solid #ddd;
			background: #f6f6f6;

			&:last-child{
				border-bottom:0;
			}

			.controls{
				padding:10px;
				background: #fff;
				border-left:1px solid #ddd;

				@include pie-clearfix;
			}

			.control-label{
				margin: 0;
				padding:15px 10px 5px 10px;
				color:#555;

				small{
					display: block;
					font-size:12px;
					color:#888;
					font-weight:normal;
				}
			}
		}
	}
}

.form-button{
	display: block;
	@include pie-clearfix;
	margin-top: 5px;

	a{
		float:left;
	}

	span{
		margin-left:5px;
		font-size:14px;
		margin-top: 5px;
		display: block;
		float:left;

		i{
			margin-right:5px;
		}
	}
}

[class*="span"] {
	.form-actions{
		margin-bottom: 0;
	}
}