.statistic-big{
	.top{
		@include pie-clearfix;

		.left{
			float:left;
		}
		.right{
			float:right;
			font-size:24px;
			line-height:31px;

			.icon-circle-arrow-up{
				color:$green;
			}

			.icon-circle-arrow-right{
				color:$orange;
			}

			.icon-circle-arrow-down{
				color:$lightRed;
			}
		}
	}
	.bottom{
		margin-top: 30px;
	}

	.stats-overview{
		@extend .ulreset;
		text-align:center;

		&>li{
			display: inline-block;
			text-align:center;
			padding:5px 15px;
			border-right:1px solid #ddd;

			&:last-child{
				border-right:0;
			}

			.name{
				display: block;
			}

			.value{
				font-size:16px;
				font-weight:bold;
				display: block;
				margin-top: 5px;
			}
		}
	}
}

.flot-tooltip{
	position: absolute;
	display: none;
	background: #000;
	@include opacity(0.8);
	color:#fff;
	padding:5px;

	.tooltip-arrow{
		position: absolute;
		border-color: transparent;
		border-style: solid;
		margin-left: -5px;
		bottom:-5px;
		left:15px;
		border-top-color: #000000;
		border-width: 5px 5px 0;
	}
}

.pagestats{
	@extend .ulreset;
	text-align:center;

	&>li{
		display: inline-block;
	}

	&.style-3{
		.spark{
			float:none;
			margin: 0;
		}

		.bottom{
			margin-top: 10px;
			text-align:center;
			font-size:20px;

			.name{
				font-size:14px;
			}
		}
	}

	&.style-4{
		.spark{
			float:none;
			margin: 0;
		}

		.bottom{
			margin-top: 10px;
			font-size:18px;
		}

		.name{
			font-size:13px;
		}
	}

	&.style-2{
		margin-top: 5px;
		.left{
			font-size:20px;

			.name{
				font-size:13px;
				margin: 0;
			}
		}
	}

	.name{
		font-size:20px;
		display: block;
		margin-left: 5px;
		margin-bottom: 5px;
	}

	&.bar{
		span{
			font-size:11px;
			display: block;
		}
	}
	.left{
		float:left;
		margin-left: 15px;
		font-size:16px;
		margin-top: 3px;
	}

	.spark{
		float:left;
		margin-left: 15px;
	}
}