<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spika Reset Password</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ROOT_URL}}/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="resetpassword.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ROOT_URL}}/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <style>
    
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }
        
        .form-resetpassword {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-resetpassword .form-resetpassword-heading,
        .form-resetpassword .checkbox {
          margin-bottom: 10px;
        }
        .form-resetpassword .checkbox {
          font-weight: normal;
        }
        .form-resetpassword .form-control {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        .form-resetpassword .form-control:focus {
          z-index: 2;
        }
        .form-resetpassword input[type="text"] {
          margin-bottom: -1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .form-resetpassword input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

    </style>
  </head>

  <body>

    <div class="container">

      <div class="alert alert-info">Your password is successfully changed.Please login now.</div>

    </div> 
  </body>
</html>
